extends layout

block content
  .inner
    h2 Delete #{ event.name }?
    form.form.card__shadow(action=`/event/${event._id}/delete` method='POST')
      label Are you sure you want to delete this event?
      label Players who are registered will not be notified by this platform that you are deleting your event.
      input(type='submit' value=`Delete ${event.name}` class='button')