extends layout

block content
  div.View
    h1.Banner VGC LEAGUE MANAGER
    div.Message
      div.Title
        h3 Team Sheets 
      span.Details Access the Team Sheet Portal
    .row
      .col.s12.m4
        .card.card__shadow
          .card__content
            span.card__title Testing Material Cards
            p This is testing material cards for later
