mixin loginForm()
  form.form.card__shadow(action='/login' method='POST')
    label(for='email') Email
    input(type='email' name='email')
    label(for='password') Password
    input(type='password' name='password')
    input.button(type='submit' value='Login')