mixin signupForm(event = {})
  form.form.card__shadow(action=`/event/signup/${event._id}` method='POST')
    label(for='name') Player Name
    input.validate(type='text' name='name' value=user.firstName + ' ' + user.lastName disabled)
    label(for='team') Choose a team: 
    select(name='team')
      each team in teams
        option(value=team._id name='team') #{team.name}
    input(type='submit' value='Signup!' class='button')